In [1]:
# @title
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# @title
#problem 1
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('/content/drive/MyDrive/Concepts and technology of AI/week3/Titanic-Dataset (1).csv')  # Make sure 'titanic.csv' is in your working directory

# 1️ Create a DataFrame called 'fare' with only the Fare column
fare = df[['Fare']]
print("Fare column:")
print(fare.head())

# 2 Create a DataFrame called 'class_age' with Pclass and Age columns
class_age = df[['Pclass', 'Age']]
print("\nPclass and Age columns:")
print(class_age.head())

# 3 Create a DataFrame called 'survived_gender' with Survived and Sex columns
survived_gender = df[['Survived', 'Sex']]
print("\nSurvived and Sex columns:")
print(survived_gender.head())

Fare column:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Pclass and Age columns:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Survived and Sex columns:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [4]:
# @title
#problem 2 subsetting rows by categorical values

# 1 Filter passengers with fare > 100
fare_gt_100 = df[df['Fare'] > 100]
print("Passengers with fare > 100:")
print(fare_gt_100.head())

# 2 Filter passengers in first class (Pclass == 1)
first_class = df[df['Pclass'] == 1]
print("\nPassengers in first class:")
print(first_class.head())

# 3 Filter female passengers under age 18
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
print("\nFemale passengers under age 18:")
print(female_under_18.head())

Passengers with fare > 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

Passengers in first class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

Female passengers under age 18:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

In [5]:
# @title
# 1 Filter passengers whose Embarked port is "C" or "S"
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
print("Passengers who embarked from Cherbourg or Southampton:")
print(embarked_c_or_s.head())

# 2 Filter passengers whose Pclass is in [1, 2]
first_second_class = df[df['Pclass'].isin([1, 2])]
print("\nPassengers in first or second class:")
print(first_second_class.head())

Passengers who embarked from Cherbourg or Southampton:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Passengers in first or second class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

In [6]:
# @title
#exploratory data analysis practice 1
#  Handle missing Age values by filling with median
df['Age'].fillna(df['Age'].median(), inplace=True)

# 1 Add fare_per_year column (Fare / Age)
df['fare_per_year'] = df['Fare'] / df['Age']

# 2 Subset rows where fare_per_year > 5
high_fare_age = df[df['fare_per_year'] > 5]

# 3Sort by descending fare_per_year
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

# 4 Select Name and fare_per_year columns
result = high_fare_age_srt[['Name', 'fare_per_year']]

# 5 View the result
print("Passenger(s) with highest fare relative to age:")
print(result.head())

Passenger(s) with highest fare relative to age:
                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

/tmp/ipython-input-2309165784.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [7]:
# @title
# 1 Add fare_per_class column (Fare / Pclass)
df['fare_per_class'] = df['Fare'] / df['Pclass']

# 2Subset adult male passengers (Age ≥ 18 and Sex == 'male')
adult_males = df[(df['Age'] >= 18) & (df['Sex'] == 'male')]

# 3 Sort by descending fare_per_class
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

# 4️Select Name, Age, and fare_per_class columns
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

# 5 View the result
print("Adult male passenger(s) with highest fare relative to class:")
print(result.head())

Adult male passenger(s) with highest fare relative to class:
                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208